span {
    display: inline-flex;
}
img.pokeball-icon {
    width: 70px;
    height: 70px;
    padding: 0; 
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(1deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.header {
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    text-transform: uppercase;
}
